.navbar {
  gap: 2em;
  padding: 1em;
  display: flex;
  background-color: #fff;
  align-items: center;
  a{
    text-decoration: none;
    color: #000;
  }
  p {
    cursor: pointer;
  }
  button{
    margin-left: auto;
  }
}
