<div class="product">
  <div class="product__image-wrap">
    <img
      *ngIf="product.imageUrl; else noImage"
      [src]="product.imageUrl"
      [alt]="product.name"
      class="product__image"
    />
    <ng-template #noImage>
      <div class="product__image product__image--placeholder">
        <mat-icon>image_not_supported</mat-icon>
      </div>
    </ng-template>
  </div>
  <p>{{ product.name }}</p>
  <p>Price: ${{ product.price }}</p>
  <div class="product--action">
    <ng-container *ngIf="inCart; else addToCartBtn">
      <button
        (click)="addToCart()"
        mat-icon-button
        color="warn"
        aria-label="Add one more"
      >
        <mat-icon>add</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="!(doesCartContainsProduct$ | async)"
        color="warn"
        (click)="cartService.decrease(product)"
        aria-label="Remove one"
      >
        <mat-icon>remove</mat-icon>
      </button>
    </ng-container>
    <ng-template #addToCartBtn>
      <button
        mat-raised-button
        color="primary"
        [disabled]="isOutOfStock"
        (click)="addToCart()"
      >
        <mat-icon>{{ isOutOfStock ? "block" : "add_shopping_cart" }}</mat-icon>
        {{ isOutOfStock ? "Out of stock" : "Add to cart" }}
      </button>
    </ng-template>
  </div>
</div>
