<div class="login-wrapper">
  <div [formGroup]="loginForm" class="login-form">
    <mat-form-field class="basic-input">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Petar Petrovic"
        value=""
        formControlName="username"
      />
    </mat-form-field>

    <mat-form-field class="basic-input">
      <mat-label>Password</mat-label>
      <input matInput type="password" value="" formControlName="password" />
    </mat-form-field>

    <button mat-button color="primary" (click)="onBtnClick()">Login</button>
  </div>
</div>
